<font color= "maroon"> **Problem Statment** </font>

Given the following data set(salesdata), can you plot a chart that shows the percent of revenue by marketing source?

You can assume that purchase_value is revenue in this case, and you'll have to calculate the percent of revenue by source prior to plotting.

<font color = 'blue'> Step 1: Loading Data File </font>

In [5]:
import pandas as pd
smc_data = pd.read_csv("/Users/gauravsharma/Documents/Interview_QS/Q-83/Sales_data.csv")

In [6]:
smc_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address
0,22058,2015-02-24 22:55:49,2015-04-18 2:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08
1,333320,2015-06-07 20:39:50,2015-06-08 1:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09
4,221365,2015-07-21 7:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08

In [8]:
smc_data.shape

(151112, 10)

In [9]:
smc_data['source'].value_counts()

SEO       60615
Ads       59881
Direct    30616
Name: source, dtype: int64

In [34]:
smc_data_grouped = smc_data.groupby('source', as_index=False)['purchase_value'].sum()
smc_data_grouped

   source  purchase_value
0     Ads         2211133
1  Direct         1130971
2     SEO         2239274

In [42]:
smc_data_grouped.shape

(3, 2)

In [43]:
smc_data_grouped.columns

Index(['source', 'purchase_value'], dtype='object')

In [46]:
smc_data_a = smc_data_grouped.groupby(['source']).agg({'purchase_value': 'sum'})
smc_data_a

        purchase_value
source
Ads            2211133
Direct         1130971
SEO            2239274

In [51]:
smc_data_a.columns

Index(['purchase_value'], dtype='object')

In [52]:
smc_data_a.div(purchase_value, level='purchase_value') * 100

NameError: name 'purchase_value' is not defined

In [ ]:
smc_data_pcts = smc_data_grouped.groupby(level='purchase_value').apply(lambda x: 100 * x / float(x.sum()))